<!doctype html>
<html lang="en" class="h-100"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <p class="navbar-brand text-white">
            <b><span class="align-middle" th:text="${user.getUsername()}"></span></b>
            <span class="align-middle">with roles:</span>
            <span class="align-middle" th:text="${user.getRoles()}"></span>
        </p>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>
    </div>
</nav>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="p-0 col-2">
                <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" href="/admin" sec:authorize="hasAuthority('ADMIN')" role="tab"
                       aria-controls="v-pills-home" aria-selected="true">Admin</a>
                    <a class="nav-link" href="/user" sec:authorize="(hasAnyAuthority('ADMIN', 'USER'))"
                       role="tab"
                       aria-controls="v-pills-profile" aria-selected="false">User</a>
                </div>
            </div>
            <div class="col-10 px-0">
                <div class="container-fluid">
                    <h1 class="m-3 fw-bold">Admin panel</h1>
                    <div class="tab-content" id="tabContent">
                        <ul class="nav nav-tabs">
                            <a class="nav-link active" data-bs-toggle="tab">Users Table</a>
                            <a class="nav-link" data-bs-toggle="tab" href="/add">New User</a>
                        </ul>
                        <div class="card">
                            <div class="card-header">
                                <div class="m-1">
                                    <h4>All users</h4>
                                </div>
                            </div>

                            <div class="card-body" bg-primary text-white>
                                <table class="table table-striped table-hover">
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Roles</th>
                                        <th>Email</th>
                                        <th>Password</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                    <tr th:each="msg : ${users}">
                                        <td th:text="${msg.getId()}"></td>
                                        <td th:text="${msg.getUsername()}"></td>
                                        <td th:text="${msg.getRoles()}"></td>
                                        <td th:text="${msg.getEmail()}"></td>
                                        <td th:text="${msg.getPassword()}"></td>
                                        <td>
                                            <button type="button" class="btn btn-success" data-toggle="modal"
                                                    th:data-target="${'#edituser'+msg.id}">Edit
                                            </button>
                                        </td>
                                        <div class="modal fade" th:id="${'edituser'+msg.id}" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" th:id="${'edituser'+msg.id}">Modal
                                                            title</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form th:action="@{/update/{id}(id=${msg.id})}"
                                                              th:method="patch" name="id" th:object="${user}">
                                                            <strong>ID</strong>
                                                            <input class="form-control" th:name="id" th:type="text"
                                                                   readonly th:value="${msg.id}">
                                                            <strong>Username</strong>
                                                            <input class="form-control" th:name="username"
                                                                   th:type="text" th:value="${msg.username}">
                                                            <strong>Password</strong>
                                                            <input class="form-control" th:name="password"
                                                                   th:type="text" th:value="${msg.password}">
                                                            <strong>Email</strong>
                                                            <input class="form-control" th:name="email" th:type="text"
                                                                   th:value="${msg.email}">
                                                            <strong>Roles</strong>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" th:type="checkbox"
                                                                       id="inlineCheckbox1" th:name="roles" th:value=1>
                                                                <label class="form-check-label" for="inlineCheckbox1">User</label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" th:type="checkbox"
                                                                       id="inlineCheckbox2" th:name="roles" th:value=2>
                                                                <label class="form-check-label" for="inlineCheckbox2">Admin</label>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit" class="btn btn-primary">Save
                                                                    changes
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </td>
                                        <td>
                                            <a type="button" class="btn btn-sm btn-danger" data-toggle="modal"
                                               data-target="#DELETE"
                                               th:data-target="${'#DELETE'+msg.id}">Delete</a>
                                        </td>
                                        <div class="modal fade" th:id="${'DELETE'+msg.id}"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" th:id="${'DELETE'+msg.id}">Delete
                                                            user</h5>
                                                        <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <form class="modal-body col-md text-center"
                                                          th:action="@{'/delete?id='+${msg.id}}"
                                                          th:method="post"
                                                          th:object="${people}">
                                                        <div class="modal-body col-md">
                                                            <label for="id"><b>ID</b></label>
                                                            <input th:name="id" th:type="text" class="form-control"
                                                                   id="id" th:value="${msg.id}" disabled/>
                                                            <br>
                                                            <label for="name1"><b>Name</b></label>
                                                            <input th:name="name" th:type="text"
                                                                   class="form-control"
                                                                   id="name1" th:value="${msg.username}" disabled/>
                                                            <br>
                                                            <label for="email1"><b>Email</b></label>
                                                            <input th:name="email" th:type="text"
                                                                   class="form-control"
                                                                   id="email1" th:value="${msg.email}" disabled/>
                                                            <br>
                                                            <label for="login1"><b>Password</b></label>
                                                            <input th:name="password" th:type="text"
                                                                   class="form-control"
                                                                   id="login1" th:value="${msg.password}" disabled/>
                                                            <br>

                                                            <label for="role1"><b>Role</b></label>
                                                            <input th:name="role" th:type="text"
                                                                   class="form-control"
                                                                   id="role1" th:value="${msg.roles}" disabled/>
                                                            <br>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-danger">Delete
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>